{
  "localize": {
    "defaultLanguage" : "it",
    "languages" : [
      "it",
      "en"
    ]
  },
  "storage" : {
     "adapter" : {
        "dexie" : {
            "nameDb" : "test"
        }
     }
  }
}